{
  "check-coverage": true,
  "per-file": true,
  "require": [
    "babel-register",
    "regenerator-runtime/runtime"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "sourceMap": false,
  "instrument": false,
  "cache": true,
  "report-dir": "./coverage"
}
